# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-ast
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: debug-statements
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=co-ordinates
  - repo: https://github.com/PyCQA/flake8
    rev: 3.7.9
    hooks:
      - id: flake8
        args:
          - --per-file-ignores=*/__init__.py:F401
          - --ignore=E203,W503,E741
          - --max-complexity=30
          - --max-line-length=456
          - --show-source
          - --statistics
          - --exclude=.docs/*,./carla_gym/carla_api/PythonAPI/*,.git,__pycache__
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args:
          - --py37-plus
        exclude: ^(carla_gym/carla_api/PythonAPI)|(docs/)|.*/(__init__.py)
  - repo: https://github.com/python/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --line-length=121
        exclude: ^(carla_gym/carla_api/PythonAPI)|(docs/)|.*/(__init__.py)
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        exclude: ^(carla_gym/carla_api/PythonAPI)|(docs/)|.*/(__init__.py)
        args:
          - --source
          - --explain
          - --convention=google
        additional_dependencies: ["tomli"]
